@import "https://fonts.googleapis.com/css?family=Roboto|Roboto+Slab";
/* Screen variables */
/* Content width variables */
body {
  margin: 0; }
  body p {
    margin: 0; }

div#header {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  height: 2em;
  align-items: center;
  margin-bottom: 1em; }

div#content {
  margin: 0 auto;
  padding: 0 5%; }
  @media (min-width: 1024px) {
    div#content {
      width: 900px; } }
  @media (min-width: 768px) and (max-width: 1023px) {
    div#content {
      width: 700px; } }
  div#content div#form_title_container {
    margin-bottom: 0.5em; }
  @media (min-width: 1024px) {
    div#content div#form_container {
      float: left;
      width: 40%; } }
  @media (min-width: 768px) and (max-width: 1023px) {
    div#content div#form_container {
      float: left;
      width: 40%; } }
  @media (min-width: 1024px) {
    div#content div#meta_form {
      float: right;
      width: 55%; } }
  @media (min-width: 768px) and (max-width: 1023px) {
    div#content div#meta_form {
      float: right;
      width: 55%; } }
  div#content div#meta_form div#form_full_desc, div#content div#meta_form div#script {
    display: none; }

div#footer {
  clear: both;
  padding-top: 1em;
  margin: 0 auto; }
  @media (min-width: 1024px) {
    div#footer {
      width: 900px; } }
  @media (min-width: 768px) and (max-width: 1023px) {
    div#footer {
      width: 700px; } }
  div#footer div#partner_logos {
    display: flex;
    flex-direction: row;
    justify-content: space-between; }
    @media (min-width: 1024px) {
      div#footer div#partner_logos {
        margin: 0 -5%; } }
    @media (min-width: 768px) and (max-width: 1023px) {
      div#footer div#partner_logos {
        margin: 0 -5%; } }
    div#footer div#partner_logos div.partner-logo-div {
      padding: 0 5%; }
      div#footer div#partner_logos div.partner-logo-div img.partner-image {
        width: 100%; }

/* Variables */
div#form_title_container div#form_title {
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  font-size: 2em; }

div#form_container form#caller_data ul#main_form_elements {
  list-style-type: none;
  padding: 0;
  margin: 0; }
  div#form_container form#caller_data ul#main_form_elements li {
    margin-bottom: .5em; }
    div#form_container form#caller_data ul#main_form_elements li label#sms_opt_in_label {
      font-size: 0.75em; }
    div#form_container form#caller_data ul#main_form_elements li input {
      border: 1px solid #aaa;
      border-radius: 3px; }
      div#form_container form#caller_data ul#main_form_elements li input[type="text"] {
        width: 100%;
        height: 3em;
        line-height: 2em;
        padding: 0.5em; }
      div#form_container form#caller_data ul#main_form_elements li input[type="submit"] {
        width: 100%;
        text-align: center;
        height: 2em;
        font-size: 1em;
        background-color: #bbb;
        transition: all .1s linear; }
        div#form_container form#caller_data ul#main_form_elements li input[type="submit"]:hover {
          background-color: #ccc; }

div#header {
  background-color: #c869bf;
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  color: white; }

div#form_container form#caller_data ul#main_form_elements li input[type="text"].parsley-error {
  border: 1px solid #c869bf; }
div#form_container form#caller_data ul#main_form_elements li ul.parsley-errors-list.filled {
  font-size: .75em;
  padding-left: 1em; }
  div#form_container form#caller_data ul#main_form_elements li ul.parsley-errors-list.filled li {
    list-style-type: none; }

body {
  font-family: 'Roboto Slab', serif;
  background-color: #f8f8f8;
  font-size: 16px; }
  @media (min-width: 1024px) {
    body {
      font-size: 18px; } }
  @media (min-width: 768px) and (max-width: 1023px) {
    body {
      font-size: 16px; } }

/*# sourceMappingURL=style.css.map */
