@import 'https://fonts.googleapis.com/css?family=Roboto|Roboto+Slab:400,700';

@mixin title-font {
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
}

@mixin body-font {
   font-family: 'Roboto Slab', serif;
}
