/* Variables */
$form_border_color: #aaa;
$form_button_color: #bbb;
$form_button_hover_color: #ccc;

div#form_title_container {
  div#form_title {
    @include title-font;
    font-size: 2em;
  }
}
div#form_container {
  form#caller_data {
		ul#main_form_elements{
			list-style-type: none;
			padding: 0;
			margin: 0;
			li {
				margin-bottom: .5em;
		    label#sms_opt_in_label {
					font-size: 0.75em;
				}
				input {	  
				border: 1px solid $form_border_color;
				border-radius: 3px;
					&[type="text"] {
						width: 100%;
						height: 3em;
						line-height: 2em;
						padding: 0.5em;
					}
					&[type="submit"] {
						width: 100%;
						text-align: center;
						height: 2em;
						font-size: 1em;
						background-color: $form_button_color;
						transition: all .1s linear;
					}
					&[type="submit"]:hover {
						background-color: $form_button_hover_color;
					}
				}
			}
		}
	}
}
